/** ********************************************** **
	@Website		learn.cityofhope.org
	@Last Update	Thursday, August 25, 2017

	TABLE CONTENTS
	-------------------------------
		Globals
		Color Background/Foreground
    Site Header
		Footer
		Responsive
		DEVELOPMENT ONLY 
*************************************************** **/

/** Globals
 **************************************************************** **/

html, body {
  background-color: #fff;
  font-size: 16px;
  height: 100%;
  line-height: 1.4;
}

body {
  color: #494949;
  font-family: 'Open Sans', sans-serif;
}

.center {
  text-align: center;
}

a, a:focus, a:hover {
  color: #1599C6;
}

a:hover {
  text-decoration: underline;
}

.bg-alternate a, a:focus, a:hover {
  color: #015CA4;
}

/* Custom default button */

.btn-primary, .btn-primary:focus {
  background-color: #1599C6;
  border-color: #1599C6;
  color: #fff;
  font-weight: bold;
  padding: 1.125rem 2rem;
  transition: all 0.3s;
  border-radius:0;
}

.btn-primary:hover {
  background-color: #015CA4;
  transition: all 0.3s;
}

.btn-secondary, .btn-secondary:focus {
  background-color: #015CA4;
  border-color: #015CA4;
  color: #fff;
  font-weight: bold;
  padding: 1.125rem 1.875rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: #015CA4;
  transition: all 0.3s;
}

.btn-rounded {
  border-radius: 0.25rem;
}

/** Color Background/Foreground
 **************************************************************** **/

.bg-primary {
  background-color: #1099C6!important;
}

.bg-secondary {
  background-color: #015CA4!important;
}

.bg-alternate {
  background-color: #E6EAF0!important;
}

.bg-alternate-light {
  background-color: #f4f4f4!important;
}

.color-primary {
  color: #1599C6!important;
}

.color-secondary {
  color: #015CA4!important;
}

.color-alternate {
  color: #E6EAF0!important;
}

.color-alternate-light {
  color: #f4f4f4!important;
}

/** Site Header
 **************************************************************** **/

#special-alert {
  margin: 0 4rem -0.125rem 4rem;
}

#header {
  padding: 1rem 0;
}

.navbar {
  text-align: center;
}

/** Footer
 **************************************************************** **/

.header {
    height: 150px;
}
.iframe-header {
    position: absolute;
    width: 100%;
    border: none;
    overflow: hidden;
}
.iframe-footer {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
	padding-right: 0px !important;
    padding-left: 0px !important;

}
.col-left {
    padding-left: 10%;
    padding-right: 10%;
}
#locationAddresses {
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d1dee9;
    margin-top: 5px;
}
.locationInactive {
    display: none;
}
/** Responsive
 **************************************************************** **/

/** DEVELOPMENT ONLY 
	DO NOT USE THIS CSS - USED FOR DEVELOPMENT PURPOSES ONLY!
 **************************************************************** **/

/* header, footer, div, p, nav, ul, li, span, img, h1, h2, h3, a {
  border: .03125rem solid orchid;
} */